<div style="padding: 15px"><h1>Todo List</h1>
<div class="col-sm-6">
    <input class="input" type="text" placeholder="Enter a Task" #task>
    <div class="style"></div>
    <button class="btn btn-success btn-large" (click)="addList(task.value)">Add</button>
    </div>
<ul *ngFor="let list of toDoList">
<li class="input">{{list.name}}<div class="style"></div><button class="btn btn-danger btn-small" (click)="removeTask(list.id)">Delete</button>
    <div class="style"></div><button class="btn btn-primary" (click)="editTask(list.name)">Edit</button></li>

</ul>
</div>



       